In [1]:
# Dependencies
from config import API_KEY
import pandas as pd
import numpy as np
import requests
import json
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

# Get APIs data from JSearch for Data Analyst from every major cities from Australia
## Export as JSON data files

In [2]:
# Adelaide 

# Save url as variable
url = "https://jsearch.p.rapidapi.com/search"
# Set querystring
querystring = {"query":"Data Analyst in Adelaide, Australia","page":"1","num_pages":"20"}
# Set headers
headers = {
	"X-RapidAPI-Key": API_KEY,
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}
# Make a GET request and save in variable
response = requests.get(url, headers=headers, params=querystring)
Ade_jsearch= response.json()

# Write data to a json file 
with open('../Resources/Adelaide_data_jsearch.json', 'w') as outfile:
	json.dump(Ade_jsearch, outfile, indent=4)

In [3]:
# Brisbane

url = "https://jsearch.p.rapidapi.com/search"

querystring = {"query":"Data Analyst in Brisbane, Australia","page":"1","num_pages":"20"}

headers = {
	"X-RapidAPI-Key": API_KEY,
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)
Bris_jsearch = response.json()

# Write data to a json file 
with open('../Resources/Brisbane_data_jsearch.json', 'w') as outfile:
	json.dump(Bris_jsearch, outfile, indent=4)

In [4]:
# Canberra

url = "https://jsearch.p.rapidapi.com/search"

querystring = {"query":"Data Analyst in Canberra, Australia","page":"1","num_pages":"20"}

headers = {
	"X-RapidAPI-Key": API_KEY,
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)
Canb_jsearch= response.json()

# Write data to a json file 
with open('../Resources/Canberra_data_jsearch.json', 'w') as outfile:
	json.dump(Canb_jsearch, outfile, indent=4)

In [5]:
# Darwin
url = "https://jsearch.p.rapidapi.com/search"

querystring = {"query":"Data Analyst in Darwin, Australia","page":"1","num_pages":"20"}

headers = {
	"X-RapidAPI-Key": API_KEY,
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)
Darw_jsearch = response.json()

# Write data to a json file 
with open('../Resources/Darwin_data_jsearch.json', 'w') as outfile:
	json.dump(Darw_jsearch, outfile, indent=4)

In [6]:
# Hobart
url = "https://jsearch.p.rapidapi.com/search"

querystring = {"query":"Data Analyst in Hobart, Australia","page":"1","num_pages":"20"}

headers = {
	"X-RapidAPI-Key": API_KEY,
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)
Hob_jsearch= response.json()

# Write data to a json file 
with open('../Resources/Hobart_data_jsearch.json', 'w') as outfile:
	json.dump(Hob_jsearch, outfile, indent=4)

In [7]:
# Melbourne
url = "https://jsearch.p.rapidapi.com/search"

querystring = {"query":"Data Analyst in Melbourne, Australia","page":"1","num_pages":"20"}

headers = {
	"X-RapidAPI-Key": API_KEY,
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)
Melb_jsearch=response.json()

# Write data to a json file 
with open('../Resources/Melbourne_data_jsearch.json', 'w') as outfile:
	json.dump(Melb_jsearch, outfile, indent=4)

In [8]:
# Perth
url = "https://jsearch.p.rapidapi.com/search"

querystring = {"query":"Data Analyst in Perth, Australia","page":"1","num_pages":"20"}

headers = {
	"X-RapidAPI-Key": API_KEY,
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)
Perth_jsearch=response.json()

# Write data to a json file 
with open('../Resources/Perth_data_jsearch.json', 'w') as outfile:
	json.dump(Perth_jsearch, outfile, indent=4)

In [9]:
# Sydney
url = "https://jsearch.p.rapidapi.com/search"

querystring = {"query":"Data Analyst in Sydney, Australia","page":"1","num_pages":"20"}

headers = {
	"X-RapidAPI-Key": API_KEY,
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)
Syd_jsearch = response.json()

# Write data to a json file 
with open('../Resources/Sydney_data_jsearch.json', 'w') as outfile:
	json.dump(Syd_jsearch, outfile, indent=4)

## Create clean data frame

In [10]:
# columns = ["employer_name","job_publisher","job_id","job_employment_type","job_title","job_apply_link",\
#     "job_description","job_posted_at_timestamp","job_posted_at_datetime_utc","job_city","job_state",\
#     "job_country","job_latitude","job_longitude","job_offer_expiration_datetime_utc","job_offer_expiration_timestamp",\
#     "job_required_experience","job_required_skills","job_required_education"]

In [11]:
# columns = ["employer_name","job_publisher","job_id","job_employment_type","job_title","job_apply_link",\
#     "job_description","job_city","job_state","job_latitude","job_longitude",
#     "job_required_experience","job_required_skills","job_required_education"]

In [61]:
# Select certain columns to be used and turn json file into a Pandas dataframe 
columns = ["employer_name","job_publisher","job_employment_type","job_title","job_apply_link",\
    "job_description","job_city","job_state","job_latitude","job_longitude",
    "job_required_education.bachelors_degree"]

# Adelaide
raw_Ade_df = pd.json_normalize(Ade_jsearch, 'data')
Ade_df = raw_Ade_df.loc[:, columns]
Ade_df.head(5)

,employer_name,job_publisher,job_employment_type,job_title,job_apply_link,job_description,job_city,job_state,job_latitude,job_longitude,job_required_education.bachelors_degree
0,Woolworth,BeBee Australia,FULLTIME,Data Analyst,https://au.bebee.com/job/20231008-fe05e2e56340...,You shall find the IDA team very self-motivate...,Adelaide,SA,-34.928497,138.60074,False
1,Kelsian Group Limited,LinkedIn,FULLTIME,Data & Analytics Specialist Adelaide - Permane...,https://au.linkedin.com/jobs/view/data-analyti...,International Tourism And Transport Company\n\...,Adelaide,SA,-34.928497,138.60074,True
2,Beach Energy Ltd,LinkedIn,FULLTIME,Data Analyst - Exploration & Subsurface,https://au.linkedin.com/jobs/view/data-analyst...,• ASX Listed Energy Company - Adelaide Head Of...,Adelaide,SA,-34.928497,138.60074,True
3,Department of Employment and Workplace Relations,LinkedIn,FULLTIME,Senior Data Analyst,https://au.linkedin.com/jobs/view/senior-data-...,Exciting opportunity for a Senior Data Analyst...,Adelaide,SA,-34.928497,138.60074,True
4,City of Adelaide,ZipRecruiter Australia,FULLTIME,Graduate Economic Research & Data Analyst,https://www.ziprecruiter.com.au/jobs/276283287...,• A position that's professionally rewarding |...,Adelaide,SA,-34.928497,138.60074,False

In [62]:
# Brisbane
raw_Bris_df= pd.json_normalize(Bris_jsearch, 'data')
Bris_df = raw_Bris_df.loc[:, columns]
Bris_df.head(5)

,employer_name,job_publisher,job_employment_type,job_title,job_apply_link,job_description,job_city,job_state,job_latitude,job_longitude,job_required_education.bachelors_degree
0,PwC,BeBee Australia,FULLTIME,Data Analytics,https://au.bebee.com/job/20231009-6045f6a1a5b8...,Line of Service\n\nAssurance\n\nIndustry/Secto...,Brisbane,QLD,-27.470453,153.02603,False
1,The State of Queensland,Trabajo.org,FULLTIME,Principal Business And Data Analyst,https://au.trabajo.org/job-2233-20231009-b3bf7...,Are you looking for a challenging and rewardin...,Brisbane,QLD,-27.470453,153.02603,False
2,Woolworth,BeBee Australia,FULLTIME,Data Analyst,https://au.bebee.com/job/20231008-8b3ec2cda902...,You shall find the IDA team very self-motivate...,Brisbane,QLD,-27.470453,153.02603,False
3,Queensland Government,BeBee Australia,FULLTIME,Principal Data Analyst,https://au.bebee.com/job/20231008-82952b1065fb...,The role You'll be working under the Manager i...,Brisbane,QLD,-27.470453,153.02603,False
4,Mott MacDonald,Mott MacDonald,FULLTIME,Data Analyst,https://www.mottmac.com/job/79148/data-analyst,"Job Description\nTogether, we open opportuniti...",Brisbane,QLD,-27.470453,153.02603,False
...,...,...,...,...,...,...,...,...,...,...,...
69,Talent,LinkedIn,CONTRACTOR,Business Analyst | Energy Trading,https://au.linkedin.com/jobs/view/business-ana...,• 6 month daily rate contract\n• Paying betwee...,Brisbane,QLD,-27.470453,153.02603,True
70,Tesla,BeBee Australia,FULLTIME,Business Intelligence Analyst,https://au.bebee.com/job/20231005-1a97bdbfc71c...,What to Expect\n\nThe Business Analytics team ...,Fortitude Valley,QLD,-27.457827,153.03566,False
71,Insignia Financial,LinkedIn,FULLTIME,Salesforce Technical BA,https://au.linkedin.com/jobs/view/salesforce-t...,• ‘Work where it works’ for you and your clien...,Brisbane,QLD,-27.470453,153.02603,True
72,Delivery Centric Pty Ltd,LinkedIn,FULLTIME,Data Engineer - SQL Server,https://au.linkedin.com/jobs/view/data-enginee...,Job Role: Data Engineer - SQL Server\n\nLocati...,Brisbane,QLD,-27.470453,153.02603,True
73,Visuna,LinkedIn,CONTRACTOR,Reservoir Sampling Analysts,https://au.linkedin.com/jobs/view/reservoir-sa...,Responsibilities of the Reservoir Sampling Ana...,Brisbane,QLD,-27.470453,153.02603,True

In [63]:
# Canberra
raw_Canb_df=pd.json_normalize(Canb_jsearch, 'data')
Canb_df=raw_Canb_df.loc[:, columns]
Canb_df.head(5)

,employer_name,job_publisher,job_employment_type,job_title,job_apply_link,job_description,job_city,job_state,job_latitude,job_longitude,job_required_education.bachelors_degree
0,Modis,Modis,CONTRACTOR,Data Analyst,https://www.modis.com/en-au/jobs-iframe/job/ca...,One of our esteemed federal government clients...,Canberra,ACT,-35.280937,149.13000,False
1,Department of Social Services (DSS),LinkedIn,FULLTIME,Data Analyst,https://au.linkedin.com/jobs/view/data-analyst...,Looking for early and mid-career data analysts...,Canberra,ACT,-35.280937,149.13000,True
2,JLL,LinkedIn,FULLTIME,Data Analyst,https://au.linkedin.com/jobs/view/data-analyst...,Shaping the future of real estate for a better...,Canberra,ACT,-35.280937,149.13000,True
3,Arsenault,ZipRecruiter Australia,FULLTIME,Data Analyst,https://www.ziprecruiter.com.au/jobs/277348912...,Arsenault is a global leader in partnering wit...,Canberra,ACT,-35.280937,149.13000,False
4,TELUS International AI Inc.,The Muse,FULLTIME,Online Data Analyst - English Speaker in Austr...,https://www.themuse.com/jobs/telusinternationa...,We are hiring freelance English speaking Onlin...,Canberra,ACT,-35.280937,149.13000,False
...,...,...,...,...,...,...,...,...,...,...,...
62,Fujitsu,SimplyHired,FULLTIME,Business Analyst,https://www.simplyhired.com.au/job/1szacCJg8Fg...,Location:\n\nCanberra - Australian Capital Ter...,Canberra,ACT,-35.280937,149.13000,False
63,Local Peoples,LinkedIn,FULLTIME,Business Analyst,https://au.linkedin.com/jobs/view/business-ana...,We are looking to connect with Business Analys...,Canberra,ACT,-35.280937,149.13000,True
64,Quay Appointments,SimplyHired,FULLTIME,Data Analysts Managers and Data Engineers,https://www.simplyhired.com.au/job/uoUujEbUhm1...,Contract Type:\n\nContractor\n\nLocation:\n\nW...,None,ACT,-35.473470,149.01237,False
65,Vault Cloud,LinkedIn,FULLTIME,Operations Analyst,https://au.linkedin.com/jobs/view/operations-a...,Analyse Australia's Cyber Defense and Empower ...,Canberra,ACT,-35.280937,149.13000,True
66,University of Canberra,LinkedIn,FULLTIME,Online Learning Analytics Specialist,https://au.linkedin.com/jobs/view/online-learn...,• Establish data-driven decision-making to opt...,Lawson,ACT,-35.227596,149.08760,True

In [64]:
# Darwin
raw_Darw_df=pd.json_normalize(Darw_jsearch, 'data')
Darw_df= raw_Darw_df.loc[:, columns]
Darw_df.head(5)

,employer_name,job_publisher,job_employment_type,job_title,job_apply_link,job_description,job_city,job_state,job_latitude,job_longitude,job_required_education.bachelors_degree
0,Peroptyx,BeBee Australia,FULLTIME,Data Analyst,https://au.bebee.com/job/20231004-3fef234ae041...,"For thousands of years, maps have provided hum...",Darwin,NT,-12.463734,130.84445,False
1,face2face Recruitment,LinkedIn,FULLTIME,Senior Data Analyst,https://au.linkedin.com/jobs/view/senior-data-...,"• Closing Date: 13 October 2023, 9:00 AM\n\nfa...",Darwin,NT,-12.463734,130.84445,True
2,Linkus,Whatjobs? Jobs In The Australia,FULLTIME,Associate Data Analyst (Remote),https://au.whatjobs.com/jobs/Associate-Data-An...,"Company Profile Note: After Applying , Check y...",Darwin,NT,-12.463734,130.84445,False
3,Northern Territory Government,BeBee Australia,FULLTIME,Business Analyst,https://au.bebee.com/job/20231007-5c0bd481c690...,You will support the implementation of a new B...,Darwin,NT,-12.463734,130.84445,False
4,NEC Corporation,BeBee Australia,FULLTIME,Business Application Analyst,https://au.bebee.com/job/20231007-9bdba8bb802d...,An opportunity to leverage your ServiceNow exp...,Darwin City,NT,-12.463734,130.84445,False
5,Northern Territory Government,Adzuna,FULLTIME,Reporting Analyst,https://www.adzuna.com.au/details/4321350774,"The Reporting analyst will deliver objective, ...",Darwin,NT,-12.463734,130.84445,False
6,Charles Darwin University,LinkedIn,FULLTIME,Business Analyst - Student Systems,https://au.linkedin.com/jobs/view/business-ana...,"18-month fixed term, full time appointment\n\n...",Casuarina,NT,-12.372551,130.88377,True
7,NEC Corporation,BeBee Australia,FULLTIME,Senior Business Analyst,https://au.bebee.com/job/20231004-af7a05a49176...,Our NEC Professional Service team is seeking a...,Darwin City,NT,-12.463734,130.84445,False
8,Harvey Nash,Adzuna,FULLTIME,Business Analyst,https://www.adzuna.com.au/details/4332152740,BA required for development of custom .NET Rev...,Larrakeyah,NT,-12.458607,130.83037,False
9,Alooba,SimplyHired,FULLTIME,Software Engineer,https://www.simplyhired.com.au/job/7iofyfoKOvK...,About Alooba\n\nHello! We are Alooba - a skill...,Darwin,NT,-12.463734,130.84445,False

In [65]:
# Hobart
raw_Hob_df=pd.json_normalize(Hob_jsearch, 'data')
Hob_df=raw_Hob_df.loc[:, columns]
Hob_df.head(5)

,employer_name,job_publisher,job_employment_type,job_title,job_apply_link,job_description,job_city,job_state,job_latitude,job_longitude,job_required_education.bachelors_degree
0,Hydro Tasmania,LinkedIn,FULLTIME,Data Analyst,https://au.linkedin.com/jobs/view/data-analyst...,"• Data curious with a technical mind, includin...",Hobart,TAS,-42.882607,147.32571,True
1,Woolworth,BeBee Australia,FULLTIME,Data Analyst,https://au.bebee.com/job/20231008-0561cd38149b...,You shall find the IDA team very self-motivate...,Hobart,TAS,-42.882607,147.32571,False
2,Hydro Tasmania,Terra.do,FULLTIME,Data Analyst,https://terra.do/climate-jobs/job-board/Data-A...,Hydro Tasmania has been at the forefront of cl...,Hobart,TAS,-42.882607,147.32571,False
3,face2face Recruitment,LinkedIn,FULLTIME,Senior Data Analyst,https://au.linkedin.com/jobs/view/senior-data-...,"• Closing Date: 13 October 2023, 9:00 AM\n\nfa...",Hobart,TAS,-42.882607,147.32571,True
4,Randstad,Randstad,FULLTIME,APS6 Data Analyst,https://www.randstad.com/jobs/aps6-data-analys...,"APS6 Data Analyst\n\nAs an APS 6 Data Analyst,...",Hobart,TAS,-42.882607,147.32571,False
5,Randstad Australia,DataYoshi,FULLTIME,Data Analyst,https://www.datayoshi.com/offer/604659/data-an...,Contract length: 6 weeks\n\nLocation: Hobart\n...,Hobart,TAS,-42.882607,147.32571,False
6,Insignia Financial,LinkedIn,FULLTIME,Senior Analyst Member Office - Enablement,https://au.linkedin.com/jobs/view/senior-analy...,• Analyse data and reporting to identify key i...,Hobart,TAS,-42.882607,147.32571,True
7,Randstad,BeBee Australia,FULLTIME,Data Engineering,https://au.bebee.com/job/20231008-4791ab8ce0e3...,"APS6 Data Analyst\n\nAs an APS 6 Data Analyst,...",Hobart,TAS,-42.882607,147.32571,False
8,Plant Health Australia,BeBee Australia,FULLTIME,Finance Analyst,https://au.bebee.com/job/20231007-b44e50d0541c...,Department of Natural Resources and Environmen...,Hobart,TAS,-42.882607,147.32571,False
9,TasNetworks,LinkedIn,FULLTIME,Senior Finance Analyst,https://au.linkedin.com/jobs/view/senior-finan...,"About The Role\n\nIn this role, you will becom...",Hobart,TAS,-42.882607,147.32571,True
10,Randstad,Randstad,CONTRACTOR,Payroll Analyst,https://www.randstad.com/jobs/payroll-analyst_...,Payroll Analyst\n\nLocation: Hobart\nContract ...,Hobart,TAS,-42.882607,147.32571,False
11,Career Success Australia,BeBee Australia,FULLTIME,Financial Analyst/Trader,https://au.bebee.com/job/20231008-f1b145f0a865...,Leading Mid-Tier Financial Investment company ...,Hobart,TAS,-42.882607,147.32571,False
12,Insignia Financial,LinkedIn,FULLTIME,Salesforce Technical BA,https://au.linkedin.com/jobs/view/salesforce-t...,• ‘Work where it works’ for you and your clien...,Hobart,TAS,-42.882607,147.32571,True
13,UpGuard,Innovation Bay Job Board,FULLTIME,Senior Business Analyst,https://jobs.innovationbay.com/companies/upgua...,Who are we?\nUpGuard’s mission is to protect t...,Hobart,TAS,-42.882607,147.32571,False
14,Dxc Technology Inc.,BeBee Australia,FULLTIME,Premium Analyst,https://au.bebee.com/job/20231006-0a9413c082d2...,DXC Technology (\n\nNYSE:\nDXC) - where brilli...,Hobart,TAS,-42.882607,147.32571,False
15,Randstad,Energy Jobline,FULLTIME,Data Engineering & Warehousing - Randstad,https://www.energyjobline.com/job/data-enginee...,"APS6 Data Analyst As an APS 6 Data Analyst, yo...",Hobart,TAS,-42.882607,147.32571,False

In [66]:
# Melbourne
raw_Melb_df=pd.json_normalize(Melb_jsearch, 'data')
Melb_df =raw_Melb_df.loc[:, columns]
Melb_df.head(5)

,employer_name,job_publisher,job_employment_type,job_title,job_apply_link,job_description,job_city,job_state,job_latitude,job_longitude,job_required_education.bachelors_degree
0,OTIC Group,LinkedIn,FULLTIME,Data & Analytics Engineers,https://au.linkedin.com/jobs/view/data-analyti...,"“Otic” means smart people doing smart work, to...",Melbourne,VIC,-37.81363,144.96306,True
1,Peroptyx,BeBee Australia,FULLTIME,Data Analyst,https://au.bebee.com/job/20231009-184636d12ead...,"For thousands of years, maps have provided hum...",Melbourne,VIC,-37.81363,144.96306,False
2,Woolworth,BeBee Australia,FULLTIME,Data Analyst,https://au.bebee.com/job/20231008-0421f1d31787...,You shall find the IDA team very self-motivate...,Melbourne,VIC,-37.81363,144.96306,False
3,ACCIONA Australia,LinkedIn,FULLTIME,Health and Safety Data Analyst,https://au.linkedin.com/jobs/view/health-and-s...,The Opportunity\n\nWe have an exciting opportu...,Melbourne,VIC,-37.81363,144.96306,True
4,Hays,Denmark,FULLTIME,Data Analyst,https://www.efinancialcareers.dk/jobs-Australi...,See job description for details\n\nExcellent D...,Melbourne,VIC,-37.81363,144.96306,False
...,...,...,...,...,...,...,...,...,...,...,...
133,Cummins Inc.,Cummins,FULLTIME,IT Data Manager,https://cummins.jobs/scoresby-aus/it-data-mana...,Our culture believes in Powering Your Potentia...,Scoresby,VIC,-37.89254,145.23038,False
134,Future Fund,LinkedIn,FULLTIME,"Senior Analyst, Investment Data Management",https://au.linkedin.com/jobs/view/senior-analy...,About Future Fund\n\nThe Future Fund is Austra...,Melbourne,VIC,-37.81363,144.96306,True
135,Mountleap HR Solutions,SimplyHired,FULLTIME,Senior Data Analyst,https://www.simplyhired.com.au/job/sMLlCQshwTM...,About the Role\n\nThis is a Senior role that s...,Melbourne,VIC,-37.81363,144.96306,False
136,MYOB,Lever,FULLTIME,Marketing Performance Analyst,https://jobs.lever.co/myob-2/fbe8e286-9ce2-427...,"Hi! And thanks for stopping by!\n\nWe’re MYOB,...",Melbourne,VIC,-37.81363,144.96306,False
137,Vivi,LinkedIn,FULLTIME,BI/Data Analyst Engineer (Hybrid),https://au.linkedin.com/jobs/view/bi-data-anal...,About ViVi\n\nVivi is the only wireless screen...,Melbourne,VIC,-37.81363,144.96306,True

In [67]:
# Perth 
raw_Perth_df=pd.json_normalize(Perth_jsearch, 'data')
Perth_df=raw_Perth_df.loc[:, columns]
Perth_df.head(5)

,employer_name,job_publisher,job_employment_type,job_title,job_apply_link,job_description,job_city,job_state,job_latitude,job_longitude,job_required_education.bachelors_degree
0,Bonfire,LinkedIn,FULLTIME,Data Analyst,https://au.linkedin.com/jobs/view/data-analyst...,Bonfire isn’t just another digital marketing a...,Perth,WA,-31.952312,115.861305,True
1,Western Australian Institute of Sport,LinkedIn,FULLTIME,Data Analyst,https://au.linkedin.com/jobs/view/data-analyst...,Data Analyst\n\nAre you a Data Analyst who is ...,Perth,WA,-31.952312,115.861305,True
2,Alinta Energy,BeBee Australia,FULLTIME,Data Analyst,https://au.bebee.com/job/20231006-da42b40f39fc...,• Hybrid working combining Perth office-based ...,Perth,WA,-31.952312,115.861305,False
3,Ventia,BeBee Australia,FULLTIME,Data Analyst,https://au.bebee.com/job/20231005-dd48f477d4fd...,We are looking for a creative Data Analyst to ...,Perth,WA,-31.952312,115.861305,False
4,Department of Corrective Services,BeBee Australia,FULLTIME,Principal Data Analyst,https://au.bebee.com/job/20231006-fdc66dc68b8d...,"Advisory Services Salary: Level 7, $128,077 - ...",Perth,WA,-31.952312,115.861305,False
...,...,...,...,...,...,...,...,...,...,...,...
74,Michael Page,LinkedIn,FULLTIME,Business Analyst,https://au.linkedin.com/jobs/view/business-ana...,"• Highly commercial, immediate start role|Oppo...",East Victoria Park,WA,-31.991314,115.903230,True
75,Insignia Financial,LinkedIn,FULLTIME,Salesforce Technical BA,https://au.linkedin.com/jobs/view/salesforce-t...,• ‘Work where it works’ for you and your clien...,Perth,WA,-31.952312,115.861305,True
76,Workforce Australia for Individuals,LinkedIn,FULLTIME,Data Engineer,https://au.linkedin.com/jobs/view/data-enginee...,About the role: Due to an internal project we ...,Osborne Park,WA,-31.903217,115.818535,True
77,Regis Aged Care,LinkedIn,FULLTIME,Business Intelligence Specialist,https://au.linkedin.com/jobs/view/business-int...,About The Role\n\nReporting to the Head of App...,Armadale,WA,-32.151566,116.014040,True
78,BI & DW Australia,LinkedIn,FULLTIME,Senior Consultant Azure Data Factory or Databr...,https://au.linkedin.com/jobs/view/senior-consu...,Senior Consultants- Azure Data Factory or Data...,Perth,WA,-31.952312,115.861305,False

In [68]:
# Sydney
raw_Syd_df= pd.json_normalize(Syd_jsearch, 'data')
Syd_df = raw_Syd_df.loc[:, columns]
Syd_df.head(5)

,employer_name,job_publisher,job_employment_type,job_title,job_apply_link,job_description,job_city,job_state,job_latitude,job_longitude,job_required_education.bachelors_degree
0,PWC Australia,PwC Australia Jobs,FULLTIME,Deals - Data Analyst | Senior Associate,https://jobs-au.pwc.com/experiencedhires/au/en...,To solve important problems we need diverse ta...,Sydney,NSW,-33.868820,151.20929,False
1,Rarekind,LinkedIn,TEMPORARY,Applied Data Analyst,https://au.linkedin.com/jobs/view/applied-data...,• Use your Applied Analytics Skills to lead a ...,Sydney,NSW,-33.868820,151.20929,True
2,Department of Veterans Affairs,LinkedIn,FULLTIME,Business Data Analyst,https://au.linkedin.com/jobs/view/business-dat...,Looking for experienced business and data anal...,Sydney,NSW,-33.868820,151.20929,True
3,Manpower Australia,Manpower Australia,CONTRACTOR,Data Analyst,https://www.manpower.com.au/job/data-analyst-15,The Company\n\nJoin a leading energy company t...,Sydney,NSW,-33.868820,151.20929,False
4,REA Group,REA Group Jobs,FULLTIME,Data Analyst,https://careers.rea-group.com/au/en/job/R00107...,• Experience Hybrid. Work from the office or h...,Sydney,NSW,-33.868820,151.20929,False
...,...,...,...,...,...,...,...,...,...,...,...
153,The Creative Store,BeBee Australia,FULLTIME,Data Analyst – Junior,https://au.bebee.com/job/20231003-6e45088ebb9a...,Data Analyst – Junior\n1 September 2023\n\nAre...,Sydney,NSW,-33.868820,151.20929,False
154,Adaps,SimplyHired,FULLTIME,Data Analysts / Data Modellers / Data Engineers,https://www.simplyhired.com.au/job/NKignpPAlJp...,"Contract\n\nSydney\n\nIT\n\nSeptember 11, 2020...",Sydney,NSW,-33.868820,151.20929,False
155,OneSchool Global Australia,LinkedIn,FULLTIME,Senior Data & Reporting Analyst,https://au.linkedin.com/jobs/view/senior-data-...,Does working in a global role that is a progre...,Sydney,NSW,-33.868820,151.20929,False
156,Big Red Group,Adzuna,FULLTIME,Senior Data Analyst,https://www.adzuna.com.au/details/4354829035,About Us\n\nBig Red Group is the leading exper...,The Rocks,NSW,-33.859062,151.20804,False
157,MYOB,Lever,FULLTIME,Marketing Performance Analyst,https://jobs.lever.co/myob-2/c5fdd51a-1cf0-48f...,"Hi! And thanks for stopping by!\n\nWe’re MYOB,...",Sydney,NSW,-33.868820,151.20929,False

### Merge all cities and clean the data

In [73]:
# Add all the cities dataframes together and format column names
merge_df = pd.concat([Ade_df,Bris_df,Canb_df,Darw_df,Hob_df,Melb_df,Perth_df,Syd_df], axis =0)
# merge_df.columns = merge_df.columns.str.replace("_", " ").str.capitalize()
merge_df

,employer_name,job_publisher,job_employment_type,job_title,job_apply_link,job_description,job_city,job_state,job_latitude,job_longitude,job_required_education.bachelors_degree
0,Woolworth,BeBee Australia,FULLTIME,Data Analyst,https://au.bebee.com/job/20231008-fe05e2e56340...,You shall find the IDA team very self-motivate...,Adelaide,SA,-34.928497,138.60074,False
1,Kelsian Group Limited,LinkedIn,FULLTIME,Data & Analytics Specialist Adelaide - Permane...,https://au.linkedin.com/jobs/view/data-analyti...,International Tourism And Transport Company\n\...,Adelaide,SA,-34.928497,138.60074,True
2,Beach Energy Ltd,LinkedIn,FULLTIME,Data Analyst - Exploration & Subsurface,https://au.linkedin.com/jobs/view/data-analyst...,• ASX Listed Energy Company - Adelaide Head Of...,Adelaide,SA,-34.928497,138.60074,True
3,Department of Employment and Workplace Relations,LinkedIn,FULLTIME,Senior Data Analyst,https://au.linkedin.com/jobs/view/senior-data-...,Exciting opportunity for a Senior Data Analyst...,Adelaide,SA,-34.928497,138.60074,True
4,City of Adelaide,ZipRecruiter Australia,FULLTIME,Graduate Economic Research & Data Analyst,https://www.ziprecruiter.com.au/jobs/276283287...,• A position that's professionally rewarding |...,Adelaide,SA,-34.928497,138.60074,False
...,...,...,...,...,...,...,...,...,...,...,...
153,The Creative Store,BeBee Australia,FULLTIME,Data Analyst – Junior,https://au.bebee.com/job/20231003-6e45088ebb9a...,Data Analyst – Junior\n1 September 2023\n\nAre...,Sydney,NSW,-33.868820,151.20929,False
154,Adaps,SimplyHired,FULLTIME,Data Analysts / Data Modellers / Data Engineers,https://www.simplyhired.com.au/job/NKignpPAlJp...,"Contract\n\nSydney\n\nIT\n\nSeptember 11, 2020...",Sydney,NSW,-33.868820,151.20929,False
155,OneSchool Global Australia,LinkedIn,FULLTIME,Senior Data & Reporting Analyst,https://au.linkedin.com/jobs/view/senior-data-...,Does working in a global role that is a progre...,Sydney,NSW,-33.868820,151.20929,False
156,Big Red Group,Adzuna,FULLTIME,Senior Data Analyst,https://www.adzuna.com.au/details/4354829035,About Us\n\nBig Red Group is the leading exper...,The Rocks,NSW,-33.859062,151.20804,False
157,MYOB,Lever,FULLTIME,Marketing Performance Analyst,https://jobs.lever.co/myob-2/c5fdd51a-1cf0-48f...,"Hi! And thanks for stopping by!\n\nWe’re MYOB,...",Sydney,NSW,-33.868820,151.20929,False

In [74]:
# clean data by replacing null with None and remove the \n from the data
jobsearch_df = merge_df.replace({np.NaN: None})
jobsearch_df = merge_df.replace({'\n': ' '}, regex=True)
jobsearch_df.reset_index(drop=True, inplace=True)
jobsearch_df.head(5)

,employer_name,job_publisher,job_employment_type,job_title,job_apply_link,job_description,job_city,job_state,job_latitude,job_longitude,job_required_education.bachelors_degree
0,Woolworth,BeBee Australia,FULLTIME,Data Analyst,https://au.bebee.com/job/20231008-fe05e2e56340...,You shall find the IDA team very self-motivate...,Adelaide,SA,-34.928497,138.60074,False
1,Kelsian Group Limited,LinkedIn,FULLTIME,Data & Analytics Specialist Adelaide - Permane...,https://au.linkedin.com/jobs/view/data-analyti...,International Tourism And Transport Company A...,Adelaide,SA,-34.928497,138.60074,True
2,Beach Energy Ltd,LinkedIn,FULLTIME,Data Analyst - Exploration & Subsurface,https://au.linkedin.com/jobs/view/data-analyst...,• ASX Listed Energy Company - Adelaide Head Of...,Adelaide,SA,-34.928497,138.60074,True
3,Department of Employment and Workplace Relations,LinkedIn,FULLTIME,Senior Data Analyst,https://au.linkedin.com/jobs/view/senior-data-...,Exciting opportunity for a Senior Data Analyst...,Adelaide,SA,-34.928497,138.60074,True
4,City of Adelaide,ZipRecruiter Australia,FULLTIME,Graduate Economic Research & Data Analyst,https://www.ziprecruiter.com.au/jobs/276283287...,• A position that's professionally rewarding |...,Adelaide,SA,-34.928497,138.60074,False

In [82]:
# convert dataframe into json final combine file
jobsearch_df.to_json('../Resources/finalcombine.json', indent=3)

# Convert JSON file to SQLite database

## Creat an SQLite Database

In [92]:
import sqlite3

# Connect to the SQLite database (it will create a new file if it doesn't exist)
conn = sqlite3.connect('JSearchdata.sqlite')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create a table to store JSON data
cursor.execute('''
    CREATE TABLE IF NOT EXISTS json_data (
        id INTEGER PRIMARY KEY,
        json_array TEXT
    )
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

In [93]:
import sqlite3
import json

# Connect to the SQLite database
conn = sqlite3.connect('JSearchdata.sqlite')
cursor = conn.cursor()

# Read JSON data from a file
with open('../Resources/finalcombine.json', 'r') as file:
    data = json.load(file)

# Insert JSON data into the database
for item in data:
    json_array = json.dumps(item)  # Convert JSON object to a string
    cursor.execute('INSERT INTO json_data (json_array) VALUES (?)', (json_array,))

# Commit the changes and close the connection
conn.commit()
conn.close()

In [ ]:
import sqlite3

data_job = json.load(open('../Resources/finalcombine.json'))
db = sqlite3.connect('JSearchdata.sqlite')

query = "insert into data jobsearch values (?,?,?,?,?,?,?,?,?,?,?,?,?,?)"
columns=["employer_name","job_publisher","job_employment_type","job_title","job_apply_link",\
    "job_description","job_city","job_state","job_latitude","job_longitude",
    "job_required_education.bachelors_degree"]

In [94]:
import sqlite3

data_job = json.load(open('../Resources/finalcombine.json'))
db = sqlite3.connect('JSearchdata.sqlite')

query = "insert into data jobsearch values (?,?,?,?,?,?,?,?,?,?,?,?,?,?)"
columns=["employer_name","job_publisher","job_employment_type","job_title","job_apply_link",\
    "job_description","job_city","job_state","job_latitude","job_longitude",
    "job_required_education.bachelors_degree"]
for timestamp, data in data_job.items():
    keys = (timestamp,) + tuple(data[c] for c in columns)
    c = db.cursor()
    c.execute(query, keys)
    c.close()

KeyError: 'employer_name'

In [84]:
import sqlite3
import json

with open('../Resources/finalcombine.json') as f:
    data_job = json.load(f)
db = sqlite3.connect('JSearchdata.sqlite')

query = "INSERT INTO data_jobsearch VALUES (7, 2, 7, 2, 2, ?, ?,?,?,?,?,?,?,?)"
for timestamp, data in data_job.items():
    keys = (timestamp,) + tuple(data[c] for c in columns)
    c = db.cursor()
    c.execute(query, keys)
    c.close()

KeyError: 'employer_name'